.seekbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.seekbar {
  margin-right: 10px;
  width: 100%;
}

.seekbar-value {
  font-size: 14px;
  color: #333;
}

.seekbar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
}

.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--color-quaternary);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}
