@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-primary: #0b151b;
  --background-secondary: #152833;
  --background-tertiary: #519c3c;
  --background-quaternary: #385069;
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #a78ddd;
  --color-quaternary: #cf3f43;
  --border-primary: #929292;
}
